.courses-boxes{
  img{
    width: 100%;
    max-height: 225px;
  }
  p{
    text-align: justify;
  }
  h3{
    margin: 15px 0;
  }
}

.courses-inner-title{
  h1{
    font-weight: 700;
    color: #666;
    span{
      color: $orange-sportfly;
      text-transform: uppercase;
    }
  }
}

.pulsante-innercat{
  a{
    text-decoration: none;
    color: white;
    background: $orange-sportfly;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 500;
  }
  a:hover{
    background: white;
    border: 2px solid $orange-sportfly;
    color: $orange-sportfly;
  }
}
