.right-single-course{
  .pulsante{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: white;
    background: $light-orange-sportfly;
    border-radius: 10px;
    padding: 10px 25px;
    &:hover{
      color: $light-orange-sportfly;
      background: white;
      border: 2px solid $light-orange-sportfly;
    }
  }
  .istruttore-su-corsi{
      background: white;
      border-radius: 0;
      border: 0;
      color: $light-orange-sportfly;
      font-weight: 500;
      &:hover{
        border: 0;
        color: $orange-sportfly;
      }
  }
}

.background-single-course-pre-footer{
  background: $light-orange-sportfly;
  color: white;
  padding: 25px 0;
}


.text-single-course-header{
  h4{
    text-align: justify;
    line-height: 30px;
    font-weight: 300;
  }
  h1{
    font-weight: 700;
  }
}

.vantaggi-single-course{
  h4{
    text-align: justify;
    line-height: 30px;
    font-weight: 300;
  }
  h2{
    text-transform: uppercase;
  }
}

.istruttori-corso-singolo{
a{
  text-decoration: none;
  font-weight: 500;
  color: $orange-sportfly;
  img{
    max-width: 100px;
    border-radius: 100px;
  }
}
}
